<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml-1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="FR" lang="FR">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache, must-revalidate">
  <title>email</title>
	<style type="text/css">
		.bg2 p {margin:1em 0;}
	</style>

<META NAME="ROBOTS" CONTENT="NOFOLLOW">
</head>
<body style="background-color:#ffffff;text-align:left;" >
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="bg1" style="text-align:left;background-color:#ffffff;" >
		<tr>
	  	<td align="center">
        <table width="600" border="0" cellspacing="0" cellpadding="0" class="bg2" style="text-align:left;background-color:#ffffff;" >
        	<tr>
        	 <td>
        	   <%= yield %>
        	 </td>
        	</tr>
        </table>
			</td>					
		</tr>
	</table>
</body>
</html>
